<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Project_PRN"
			 connectionString="server=DESKTOP-DFT3QA9;database=Project_PRN;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>