USE [master]
GO
/****** Object:  Database [Project_PRN]    Script Date: 11/2/2020 11:40:48 AM ******/
CREATE DATABASE [Project_PRN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_PRN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Project_PRN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project_PRN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Project_PRN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_PRN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_PRN]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[category_status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cusomter]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cusomter](
	[customer_phone] [varchar](20) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[customer_address] [nvarchar](200) NULL,
	[customer_birth_date] [date] NULL,
	[customer_points] [float] NOT NULL,
	[customer_email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[import_log]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[product_import_quantity] [int] NOT NULL,
	[import_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_id] [uniqueidentifier] NOT NULL,
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[product_price] [decimal](18, 0) NOT NULL,
	[order_detail_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[product_group_id] [varchar](10) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[product_quantity] [int] NOT NULL,
	[product_import_price] [decimal](18, 0) NOT NULL,
	[product_sale_price] [decimal](18, 0) NOT NULL,
	[product_description] [nvarchar](max) NOT NULL,
	[product_imgage] [varchar](max) NOT NULL,
	[product_status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_group]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_group](
	[product_group_id] [varchar](10) NOT NULL,
	[product_group_name] [nvarchar](50) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[product_group_catgory] [int] NOT NULL,
	[product_group_stocking] [bit] NOT NULL DEFAULT ((1)),
	[product_group_status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[product_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[promotion](
	[promotion_id] [uniqueidentifier] NOT NULL,
	[promotion_value] [int] NOT NULL,
	[promotion_end_time] [date] NOT NULL,
	[promotion_type] [varchar](20) NOT NULL,
	[promotion_status] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[promotion_status]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[promotion_status](
	[promotion_status_id] [varchar](5) NOT NULL,
	[promotion_status_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[staff]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_username] [varchar](100) NOT NULL,
	[staff_password] [varchar](30) NOT NULL,
	[staff_fullname] [nvarchar](50) NOT NULL,
	[staff_citizen_identification] [varchar](12) NOT NULL,
	[staff_sex] [bit] NOT NULL,
	[staff_phone] [varchar](20) NOT NULL,
	[staff_address] [nvarchar](200) NOT NULL,
	[staff_birthday] [date] NOT NULL,
	[staff_role] [varchar](5) NOT NULL,
	[staff_status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[staff_role]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[staff_role](
	[role_id] [varchar](5) NOT NULL,
	[role_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[store_order]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[store_order](
	[order_id] [uniqueidentifier] NOT NULL,
	[order_day] [datetime] NOT NULL,
	[customer_phone] [varchar](20) NULL,
	[order_total_price] [decimal](18, 0) NOT NULL,
	[order_total_pay] [decimal](18, 0) NOT NULL,
	[order_points] [float] NOT NULL,
	[promotion_id] [uniqueidentifier] NULL,
	[staff_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[supplier](
	[supplier_id] [int] IDENTITY(300,1) NOT NULL,
	[supplier_name] [nvarchar](100) NOT NULL,
	[supplier_phone] [varchar](20) NOT NULL,
	[supplier_address] [nvarchar](200) NOT NULL,
	[supplier_status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [category_status]) VALUES (1, N'Áo Phao', 1)
INSERT [dbo].[category] ([category_id], [category_name], [category_status]) VALUES (2, N'Áo Khoác', 1)
INSERT [dbo].[category] ([category_id], [category_name], [category_status]) VALUES (3, N'Giày', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
INSERT [dbo].[product] ([product_group_id], [product_id], [product_name], [product_quantity], [product_import_price], [product_sale_price], [product_description], [product_imgage], [product_status]) VALUES (N'AP018', N'AP018_L', N'Áo phao ghi lê xanh size L', 1000, CAST(17 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)), N'U', N'a', 1)
INSERT [dbo].[product] ([product_group_id], [product_id], [product_name], [product_quantity], [product_import_price], [product_sale_price], [product_description], [product_imgage], [product_status]) VALUES (N'AP018', N'AP018_M', N'Áo phao ghi lê xanh size M', 1000, CAST(16 AS Decimal(18, 0)), CAST(21 AS Decimal(18, 0)), N'U', N'a', 1)
INSERT [dbo].[product] ([product_group_id], [product_id], [product_name], [product_quantity], [product_import_price], [product_sale_price], [product_description], [product_imgage], [product_status]) VALUES (N'AP018', N'AP018_S', N'Áo phao ghi lê xanh size S', 1000, CAST(15 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)), N'U', N'a', 1)
INSERT [dbo].[product_group] ([product_group_id], [product_group_name], [supplier_id], [product_group_catgory], [product_group_stocking], [product_group_status]) VALUES (N'AK037', N'Áo khoác khủng long xanhh', 300, 2, 1, 1)
INSERT [dbo].[product_group] ([product_group_id], [product_group_name], [supplier_id], [product_group_catgory], [product_group_stocking], [product_group_status]) VALUES (N'AK039', N'Áo khoác trơn đỏ', 301, 2, 1, 1)
INSERT [dbo].[product_group] ([product_group_id], [product_group_name], [supplier_id], [product_group_catgory], [product_group_stocking], [product_group_status]) VALUES (N'AK048', N'Áo khoác cá voi xanh', 300, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [staff_username], [staff_password], [staff_fullname], [staff_citizen_identification], [staff_sex], [staff_phone], [staff_address], [staff_birthday], [staff_role], [staff_status]) VALUES (1, N'hieulm', N'123456', N'Hieu Le', N'0123456', 1, N'0987654321', N'Ai Biet', CAST(N'2000-01-01' AS Date), N'O', 1)
SET IDENTITY_INSERT [dbo].[staff] OFF
INSERT [dbo].[staff_role] ([role_id], [role_name]) VALUES (N'A', N'Admin')
INSERT [dbo].[staff_role] ([role_id], [role_name]) VALUES (N'O', N'Owner')
INSERT [dbo].[staff_role] ([role_id], [role_name]) VALUES (N'S', N'Staff')
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [supplier_phone], [supplier_address], [supplier_status]) VALUES (300, N'H&M', N'0123456789', N'Ai biết', 1)
INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [supplier_phone], [supplier_address], [supplier_status]) VALUES (301, N'Louise Vuiton', N'0987654321', N'Biết ai', 1)
INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [supplier_phone], [supplier_address], [supplier_status]) VALUES (302, N'Gucchi', N'0456789123', N'Đố biết', 1)
SET IDENTITY_INSERT [dbo].[supplier] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__product___225F7A766FD0CBA0]    Script Date: 11/2/2020 11:40:48 AM ******/
ALTER TABLE [dbo].[product_group] ADD UNIQUE NONCLUSTERED 
(
	[product_group_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__supplier__821868347A2E8FC4]    Script Date: 11/2/2020 11:40:48 AM ******/
ALTER TABLE [dbo].[supplier] ADD UNIQUE NONCLUSTERED 
(
	[supplier_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cusomter] ADD  DEFAULT ((0)) FOR [customer_points]
GO
ALTER TABLE [dbo].[import_log] ADD  DEFAULT (getdate()) FOR [import_time]
GO
ALTER TABLE [dbo].[store_order] ADD  DEFAULT (newid()) FOR [order_id]
GO
ALTER TABLE [dbo].[import_log]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[import_log]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[store_order] ([order_id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([product_group_id])
REFERENCES [dbo].[product_group] ([product_group_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[product_group]  WITH CHECK ADD FOREIGN KEY([product_group_catgory])
REFERENCES [dbo].[category] ([category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[product_group]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[promotion]  WITH CHECK ADD FOREIGN KEY([promotion_status])
REFERENCES [dbo].[promotion_status] ([promotion_status_id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD FOREIGN KEY([staff_role])
REFERENCES [dbo].[staff_role] ([role_id])
GO
ALTER TABLE [dbo].[store_order]  WITH CHECK ADD FOREIGN KEY([customer_phone])
REFERENCES [dbo].[cusomter] ([customer_phone])
GO
ALTER TABLE [dbo].[store_order]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotion] ([promotion_id])
GO
ALTER TABLE [dbo].[store_order]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
/****** Object:  StoredProcedure [dbo].[spCheckLogin]    Script Date: 11/2/2020 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCheckLogin](@STAFF_USERNAME VARCHAR(100), @STAFF_PASSWORD VARCHAR(30))
AS
	BEGIN
		SELECT staff_id, staff_username, staff_password, staff_fullname, staff_citizen_identification, staff_sex, staff_phone, staff_address, staff_birthday, staff_role, staff_status
        FROM staff 
        WHERE staff_username = @STAFF_USERNAME 
              AND staff_password = @STAFF_PASSWORD AND staff_status = 'TRUE'
	END

GO
USE [master]
GO
